@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Six+Caps);
@import url(http://fonts.googleapis.com/css?family=Bevan);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

/* reset  */

html, body, div, a, h1, span, br  {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:none;
  border-collapse:
}
:focus {
  outline:none; 
  } 


/* global */    

html {
  min-height:101%;
  }
body {
  line-height:1.5em;
  -webkit-text-size-adjust:100%;
  text-align:center;
}
h1 {
  font-weight:lighter;
}

/* navigation */

.previous, .next {
  position:fixed;
  top:0;
  color:#444;
  font-size:2.4em;
  background:rgba(255, 255, 255, 0.7);
  z-index:10;
}
.previous:hover, .next:hover {
  background:rgba(255, 255, 255, 1);
}
.previous {
  left:0;
  padding:1em 1em 0.8em 0.8em;
  border-radius:0 0 10px 0;
}
.next {
  right:0;
  padding:1em 0.8em 0.8em 1em;
  border-radius:0 0 0 10px;
}


/* main container */

.wrapper {
  margin:0 auto;
  width:96%;
  max-width:70rem;
}

/* index */

.having_fun {
  background-color: #38D1C2;
}
.having_fun h1:hover {
  
  -webkit-transform: perspective(1.5em) rotateX(30deg) scaleY(0.85);
  -moz-transform: perspective(1.5em) rotateX(30deg) scaleY(0.85);
  -ms-transform: perspective(1.5em) rotateX(30deg) scaleY(0.85);
  -o-transform: perspective(1.5em) rotateX(30deg) scaleY(0.85);
  transform: perspective(1.5em) rotateX(30deg) scaleY(0.85);
  -o-transition:all 1s linear; 
  -moz-transition:all 1s linear; 
  -webkit-transition:all 1s linear;
  transition:all 1s linear;
}
.having_fun h1 {
  font-size: 14em;
  line-height: 1em;
  margin: 6rem 0 0 0;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-style: italic;
  color: white;
  /*background-image: -webkit-linear-gradient(top, #80aef7 5%,#00e5e1 49%,#f7a0e1 98%);*/
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -o-transition:all 1s linear; 
  -moz-transition:all 1s linear; 
  -webkit-transition:all 1s linear;
  transition:all 1s linear;
}



/* with page */

.with {
  background:RGBA(249, 197, 126, 0.6);
}
.with h1 {
  margin:40vh 0 0 0;
  font-size:16em; 
  text-transform:uppercase;
  text-indent:0.5em;
  color:#fff;
  font-family: 'Oswald', Helvetica Neue, Arial, sans-serif;
  text-shadow:
  rgba(243, 158, 126, 1) -1px 1px 0,
  rgba(238, 159, 126, 1) -2px 2px 0,
  rgba(233, 160, 124, 1) -3px 3px 0,
  rgba(228, 164, 124, 1) -4px 4px 0,
  rgba(223, 168, 122, 1) -5px 5px 0,
  rgba(217, 170, 122, 1) -6px 6px 0,
  rgba(212, 172, 120, 1) -7px 7px 0,
  rgba(207, 174, 120, 1) -8px 8px 0,
  rgba(202, 175, 118, 1) -9px 9px 0,
  rgba(197, 176, 118, 1) -10px 10px 0,
  rgba(192, 177, 116, 1) -11px 11px 0,
  rgba(187, 178, 116, 1) -12px 12px 0,
  rgba(182, 180, 114, 1) -13px 13px 0,
  rgba(177, 183, 114, 1) -14px 14px 0,
  rgba(172, 185, 112, 1) -15px 15px 0,
  rgba(167, 187, 112, 1) -15px 15px 0,
  rgba(172, 189, 112, 1) -16px 16px 0,
  rgba(167, 190, 112, 1) -17px 17px 0,
  rgba(162, 191, 112, 1) -18px 18px 0,
  rgba(157, 192, 112, 1) -19px 19px 0,
  rgba(152, 193, 112, 1) -20px 20px 0,
  rgba(147, 194, 112, 1) -21px 21px 0,
  rgba(142, 195, 112, 1) -22px 22px 0,
  rgba(137, 196, 112, 1) -23px 23px 0,
  rgba(132, 197, 112, 1) -24px 24px 0,
  rgba(127, 198, 112, 1) -25px 25px 0,
  rgba(122, 199, 112, 1) -26px 26px 0,
  rgba(117, 200, 112, 1) -27px 27px 0,
  rgba(112, 201, 112, 1) -28px 28px 0,
  rgba(107, 202, 190, 1) -29px 29px 0,
  rgba(102, 203, 193, 1) -30px 30px 0;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}
.with h1:hover {
  text-shadow:rgba(178, 203, 222, 1) -0px 0px 0,
  rgba(179, 202, 222, 1) -1px 1px 0,
  rgba(180, 201, 222, 1) -2px 2px 0,
  rgba(181, 200, 222, 1) -3px 3px 0,
  rgba(182, 199, 222, 1) -4px 4px 0,
  rgba(183, 198, 222, 1) -5px 5px 0,
  rgba(184, 197, 222, 1) -6px 6px 0,
  rgba(185, 196, 222, 1) -7px 7px 0,
  rgba(186, 195, 222, 1) -8px 8px 0,
  rgba(187, 194, 222, 1) -9px 9px 0,
  rgba(188, 193, 222, 1) -10px 10px 0,
  rgba(189, 192, 222, 1) -11px 11px 0,
  rgba(190, 191, 222, 1) -12px 12px 0,
  rgba(191, 190, 222, 1) -13px 13px 0,
  rgba(192, 189, 222, 1) -14px 14px 0,
  rgba(193, 188, 222, 1) -15px 15px 0,
  rgba(194, 187, 222, 1) -16px 16px 0,
  rgba(195, 186, 222, 1) -17px 17px 0,
  rgba(196, 185, 222, 1) -18px 18px 0,
  rgba(197, 185, 222, 1) -19px 19px 0,
  rgba(198, 184, 222, 1) -20px 20px 0,
  rgba(199, 183, 222, 1) -21px 21px 0,
  rgba(200, 182, 222, 1) -22px 22px 0,
  rgba(201, 181, 222, 1) -23px 23px 0,
  rgba(202, 180, 222, 1) -24px 24px 0,
  rgba(203, 179, 222, 1) -25px 25px 0,
  rgba(204, 178, 222, 1) -26px 26px 0,
  rgba(205, 177, 222, 1) -27px 27px 0,
  rgba(206, 176, 222, 1) -28px 28px 0,
  rgba(207, 175, 222, 1) -29px 29px 0,
  rgba(208, 174, 222, 1) -30px 30px 0;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}


/* webfonts page */

.webfonts {
  background:#EBEBEB url(images/city.png) no-repeat bottom center;
}
.webfonts h1 {
  margin:45vh 0 0 0 ;
  font-size:5em; /* fall back font size */
  font-family: 'Six Caps', Helvetica Neue, Arial, sans-serif;
  text-transform:uppercase;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}
.webfonts span {
  background:rgba(102, 203, 193, 0.6);
  margin:0 0.6rem;
  padding:8rem 2.2rem;
  color:#fff;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}
.webfonts span:hover {
  padding:4rem 2.2rem;
  background:#fff;
  color:#333;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear; 
}




/* and page */

.and {
  background: white;
}
.and h1 {
  font-family: 'Bevan', cursive;
  font-size:18em; /* fall back font size */
  color:#38D1C2;
  margin:25vh 0 0 0;
  letter-spacing:2rem;
  line-height:1em;
  position:relative;
  text-shadow:#FFC578 5px 3px 0;
}
.and h1:after {
  content:"Fixed Gear";
  position:absolute;
  top:6%;
  left:8%;
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #222 25%, #222 50%, transparent 50%, transparent 75%, #222 75%);
  background-size:6px 6px;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  z-index:-5;
  display:block;
  text-shadow:none;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}

.and h1:hover:after {
  top:12%;
  left:10%;
  background-size:5px 5px;
  -o-transition:all .5s linear; 
  -moz-transition:all .5s linear; 
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}



/* web typography page */

.web_typography {
  background:white;
}
.web_typography h1 {
  line-height:1.1em;
  font-size:9em; /* fall back font size */
  margin:10vh 0 0 30vh;
  text-align:left;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-indent:0.3em;
  -webkit-transform: skew(-5deg,-5deg);
  background-image: -webkit-linear-gradient(top, RGBA(102, 203, 193, 1) 12%,RGBA(249, 197, 126, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0.03em 0.03em #333);
  -o-transition:all 0.5s linear; 
  -moz-transition:all 0.5s linear; 
  -webkit-transition:all 0.5s linear;
  transition:all 0.5s linear;
}
.web_typography h1:hover {
  -webkit-filter: drop-shadow(0.04em 0.04em RGBA(253, 239, 220, 0.3));
  -o-transition:all 1s linear; 
  -moz-transition:all 1s linear; 
  -webkit-transition:all 0.5s linear;
  transition:all 0.5s linear;
}
#web_typography_header span {
  display:block;
}
#web_typography_header span:first-letter {
  font-size:1.2em;
}

.word2 {
  /*text-indent:0.9em;*/
  margin:-1.1em 0 0 0;
}




/* media queries */

@media (max-width: 940px){
  .webfonts span {
    margin:0 0.1rem;
    padding:6rem 0.8rem;
  }
  .webfonts span:hover {
    padding:2rem 0.8rem;
  }
}


@media (max-width: 600px){
  .with h1 {
    margin:25vh 0 0 0;
    text-indent:0.7em;
  }
  .and h1 {
    margin:20vh 0 0 0;
    letter-spacing:1rem;
  }
  .previous {
    padding:0.6em 0.6em 0.4em 0.4em;
    border-radius:0 0 5px 0;
  }
  .next {
    right:0;
    padding:0.6em 0.4em 0.4em 0.6em;
    border-radius:0 0 0 5px;
  }
  .word2 {
    text-indent:0.8em;
  }
}








